/Module1
!/Module1/Module1_1/Debug/Module1_1.hex
!/Module1/Module1_1/Core/Src/main.c
!/Module1/Module1_2/Debug/Module1_2.hex
!/Module1/Module1_2/Core/Src/main.c
!/Module1/Module1_3/Debug/Module1_3.hex
!/Module1/Module1_3/Core/Src/main.c
!/Module1/Module1_4/Debug/Module1_4.hex
!/Module1/Module1_4/Core/Src/main.c